.cartPanel {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

.iconContainer {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.icon {
    font-size: 1rem;
    color: black;
}

.counter {
    position: absolute;
    top: -15px;
    right: -15px;
    width: 20px;
    height: 20px;
    background-color: green;
    color: white;
    font-size: 0.7rem;
    font-weight: 500;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}