.ratingContainer {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 5px;
}

.rating {
    font-size: 1.2rem;
}

.rating.active {
    color: green;
}

.rating.inactive {
    color: lightgray;
}