.mainCategory {
  position: relative;
  width: 100%;
  max-width: 1400px;
  margin: 50px auto;
}

.carouselContainer {
  width: 100%;
}

.link {
  width: 100%;
  display: flex!important;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  padding: 10px;
  box-sizing: border-box;
}

.imgContainer {
  width: 100%;
}

.img {
  width: 100%;
  height: auto;
}

.textSmall {
  font-size: 1rem!important;
  font-weight: 400;
  color: rgb(50, 50, 50)!important;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.nextBtn {
  position: absolute;
  top: 50%;
  right: 1%;
  transform: translate(0, -50%);
  width: 35px;
  height: 35px;
  padding: 1.8rem;
  border-radius: 50%;
  box-sizing: border-box;
  display: flex!important;
  justify-content: center;
  align-items: center;
  background-color: rgb(255, 255, 255);
  background-image: url('../../../public/images/others/next.png');
  background-position: center;
  background-size: 1.5rem;
  background-repeat: no-repeat;
  z-index: 1;
  filter: opacity(0.4);
  cursor: pointer;
  transition: filter 0.4s ease-out;
}

.nextBtn:hover {
  filter: opacity(1);
}

.prevBtn {
  position: absolute;
  top: 50%;
  left: 1%;
  transform: translate(0, -50%);
  width: 35px;
  height: 35px;
  padding: 1.8rem;
  border-radius: 50%;
  box-sizing: border-box;
  display: flex!important;
  justify-content: center;
  align-items: center;
  background-color: rgb(255, 255, 255);
  background-image: url('../../../public/images/others/previous.png');
  background-position: center;
  background-size: 1.5rem;
  background-repeat: no-repeat;
  z-index: 1;
  filter: opacity(0.4);
  cursor: pointer;
  transition: filter 0.4s ease-out;
}

.prevBtn:hover {
  filter: opacity(1);
}

@media (max-width: 767px) {
  .textSmall {
    font-size: 0.8rem!important;
  }
}